<div class="jumbotron">
    <h1>Unsere Berater</h1>
    <table>
        <thead>
        <tr>
            <td>Bild</td>
            <td>Start</td>
            <td>Einsatzort(e)</td>
            <td>Kernkompetenz(en)</td>
            <td>Profil</td>
            <td>Anfrage</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="consultant in consultants">
            <td><a href="#/consultants/{{consultant.id}}">
                <img ng-src="#/pictures/{{consultant.pictureid}}" alt="{{consultant.fullname}}"></a></td>
            <td>{{consultant.start}}</td>
            <td>{{consultant.locations}}</td>
            <td>{{consultant.keyskills}}</td>
            <td><a href="#/cvs/{{consultant.id}}">CV</a></td>
            <td><a href="#/contact/{{consultant.id}}">Kontakt</a></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>