<div class="row">
    <div class="col-md-12" style="text-align:center;padding-bottom:40px">
        <h3>Berater</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Bild</th>
                <th>Orte</th>
                <th>Start</th>
                <th>Schwerpunkte</th>
                <th>Profil</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="consultant in consultants">
                <td><img alt="{{consultant.fullname}}"
                         class="img-thumbnail"
                         style="width: 60px; height: 60px;"
                         src="#/pictures/{{consultant.pictureid}}"></td>
                <td>{{consultant.locations}}</td>
                <td>{{consultant.start}}</td>
                <td>{{consultant.keyskills}}</td>
                <td><a href="#/consultants/{{consultant.id}}/view">zum Profil</a></td>
                <td>
                    <a href="#/consultants/{{consultant.id}}/edit" class="glyphicon glyphicon-pencil"></a>
                    <a href="#/mail/consultants/{{consultant.id}}" class="glyphicon glyphicon-envelope"></a>
                    <a href="" ng-click="deleteConsultant(consultant)" class="glyphicon glyphicon-minus"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="text-align:center">
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <a href="#/consultants/0/add" class="btn btn-default">Berater hinzufügen</a>
    </div>
</div>