<div class="jumbotron">
    <form editable-form name="formConsultant" onaftersave="saveConsultant()">
        <div>
            <span class="title">Name: </span>
            <span editable-text="consultant.fullname" e-name="fullname" e-required>
                {{consultant.fullname  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">E-Mail: </span>
            <span editable-email="consultant.email" e-name="email" e-required>
                {{consultant.email  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Handy: </span>
            <span editable-tel="consultant.mobile" e-name="mobile">
                {{consultant.mobile  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Telefon: </span>
            <span editable-tel="consultant.phone" e-name="phone">
                {{consultant.phone  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Fax: </span>
            <span editable-tel="consultant.fax" e-name="fax">
                {{consultant.fax  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Adresse: </span>
            <span editable-textarea="consultant.address" e-name="address" e-rows="4" e-cols="40">
                {{consultant.address  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Rechnungsadresse: </span>
            <span editable-textarea="consultant.address_billing" e-name="address_billing" e-rows="4" e-cols="40">
                {{consultant.address_billing  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Beschreibung: </span>
            <span editable-textarea="consultant.shortdescription" e-name="shortdescription" e-rows="5" e-cols="40">
                {{consultant.shortdescription  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Kernkompetenzen: </span>
            <span editable-textarea="consultant.keyskills" e-name="keyskills" e-rows="5" e-cols="40">
                {{consultant.keyskills  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Einsatzorte: </span>
            <span editable-textarea="consultant.locations" e-name="locations" e-rows="4" e-cols="40">
                {{consultant.locations  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Verfügbar ab: </span>
            <span editable-bsdate="consultant.start" e-name="start" e-datepicker-popup="dd-MMMM-yyyy">
                {{consultant.start  || '-' }}
            </span>
        </div>

        <table>
            <thead>
            <tr>
                <td>Titel</td>
                <td>Beschreibung</td>
                <td>Typ</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cv in cvs">
                <td>{{cv.title}}</td>
                <td>{{cv.description}}</td>
                <td>{{cv.filetype}}</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

        <div class="buttons">
            <button type="button" class="btn btn-default" ng-click="formConsultant.$show()"
                    ng-show="!formConsultant.$visible">
                Bearbeiten
            </button>
            <span ng-show="formConsultant.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="formConsultant.$waiting">Speichern</button>
                <button type="button" class="btn btn-default" ng-disabled="formConsultant.$waiting"
                        ng-click="formConsultant.$cancel()">Abbrechen
                </button>
            </span>
        </div>
    </form>
</div>