<div class="jumbotron">
    <form editable-form name="formConsultant" onaftersave="saveConsultant()">
        <div>
            <span class="title">Name: </span>
            <span editable-text="consultant.fullname" e-name="fullname" e-required>
                {{consultant.fullname  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">E-Mail: </span>
            <span editable-text="consultant.email" e-name="email" e-required>
                {{consultant.email  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Handy: </span>
            <span editable-text="consultant.mobile" e-name="mobile">
                {{consultant.mobile  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Telefon: </span>
            <span editable-text="consultant.phone" e-name="phone">
                {{consultant.phone  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Fax: </span>
            <span editable-text="consultant.fax" e-name="fax">
                {{consultant.fax  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Adresse: </span>
            <span editable-text="consultant.address" e-name="address">
                {{consultant.address  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Rechnungsadresse: </span>
            <span editable-text="consultant.address_billing" e-name="address_billing">
                {{consultant.address_billing  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Beschreibung: </span>
            <span editable-text="consultant.shortdescription" e-name="shortdescription">
                {{consultant.shortdescription  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Kernkompetenzen: </span>
            <span editable-text="consultant.keyskills" e-name="keyskills">
                {{consultant.keyskills  || '-' }}
            </span>
        </div>
        <div>
            <span class="title">Einsatzorte: </span>
            <span editable-text="consultant.locations" e-name="locations">
                {{consultant.locations  || '-' }}
            </span>
        </div>

        <div class="buttons">
            <button type="button" class="btn btn-default" ng-click="formConsultant.$show()"
                    ng-show="!formConsultant.$visible">
                Bearbeiten
            </button>
            <span ng-show="formConsultant.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="formConsultant.$waiting">Speichern</button>
                <button type="button" class="btn btn-default" ng-disabled="formConsultant.$waiting"
                        ng-click="formConsultant.$cancel()">Abbrechen
                </button>
            </span>
        </div>
    </form>

    <!--
        <div ng-hide="editing" ng-click="editing=true">
            <h1>{{consultant.fullname}}</h1>

            <dl>
                <dt>Verfügbar ab:</dt>
                <dd>{{consultant.start}}</dd>
                <dt>Einsatzort(e):</dt>
                <dd>{{consultant.locations}}</dd>
                <dt>Kernkompetenz(en):</dt>
                <dd>{{consultant.keyskills}}</dd>
            </dl>
        </div>

        <form ng-show="editing" ng-submit="editing=false">
            <label>Vor- & Nachname:</label>
            <input type="text" ng-model="consultant.fullname" placeholder="Vor- & Nachname" ng-required/>
            <label>Verfügbar ab:</label>
            <input type="date" ng-model="consultant.start" placeholder="Verfügbar ab" ng-required/>
            <label>Einsatzort(e):</label>
            <input type="text" ng-model="consultant.locations" placeholder="Einsatzort(e)"/>
            <label>Kernkompetenzen:</label>
            <input type="text" ng-model="consultant.keyskills" placeholder="Kernkompetenzen"/>
            <button class="btn btn-lg btn-success" type="submit">Speichern</button>
        </form>
    -->
</div>