<div class="jumbotron">
    <a class="btn btn-lg btn-success" href="#/projects">Projekte</a>
    <a class="btn btn-lg btn-success" href="#/consultants">Berater</a>
    <a class="btn btn-lg btn-success" href="#/myprofile">Mein Profil</a>
</div>

<div class="row marketing">
    <h4>Neuigkeiten</h4>
    <ul>
        <li>Neue Plattform "PARIMEO Freelancer"</li>
        <li>Neuer Partner Doris Nitsche</li>
        <li>Neuer Partner Vladimir Rubin</li>
        <li>Neuer Partner Markus Schwarz</li>
        <li>Neuer Partner Alexander Marquart</li>
    </ul>
</div>