<div class="row">
    <div class="col-md-12">
        <span class="glyphicon glyphicon-remove-circle" style="margin:10px 10px 50px 10px"> Projektanfragen: off</span>
        <span class="glyphicon glyphicon-ok-circle" style="margin:10px 10px 50px 10px"> Projektanfragen: on</span>
    </div>
    <div class="col-md-12" style="margin:10px">
        <a href="#/projects" role="button" class="btn btn-success btn-lg btn-block">Projekte</a>
    </div>
    <div class="col-md-12" style="margin:10px">
        <a href="#/consultants" role="button" class="btn btn-success btn-lg btn-block">Berater</a>
    </div>
    <div class="col-md-12" style="margin:10px">
        <a href="#/myprofile" role="button" class="btn btn-success btn-lg btn-block">Mein Profil</a>
    </div>
</div>

<div class="row marketing">
    <h4>Neuigkeiten</h4>
    <ul ng-repeat="item in news">
        <li>{{item}}</li>
    </ul>
</div>